@import '~bootstrap/scss/bootstrap';

body {
  background-attachment: fixed;
  // background-blend-mode: lighten;
  background-image: url('public/ridebos-back.png');
  background-repeat: no-repeat center center fixed;
  background-size: 100%;
}

.hidden {
  display: none;
  visibility: hidden;
}

.main-title {
  float: right;
  margin: 20px;
}

header {
  background-color: rgba(70, 130, 180, .9);
  height: 150px;
  margin: 0 auto;
  // margin-top: -10px;
}

.spacer {
  height: 150px;
  width: 100%;
}

.auth-in-btn {
  display: block;
  margin-top: 10px;
  width: 180px;
}

.auth-message {
  font-size: 24px;
  text-align: center;
}

.btn {
  margin: 5px;
}

.side-nav {
  left: 10px;
  overflow: auto;
  padding: 10px;
  position: absolute;
  top: 190px;
  width: 200px;
  z-index: 1;
}

.ride-content {
  margin-left: 200px;
  top: 40px;
}
